body {
    min-width: 670px;
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
    position: relative;
    height: 100px;
    padding: 0 60px;
    /* border: 1px solid red; */
}

.header img {
    width: 125px;
}

main {
    display: flex;
}

.main {
    justify-content: flex-end;
    background-image: none;
    width: 50%;
    height: 320px;
    padding: 0 0;
   /*  border: 1px solid red; */
}

.main img {
    width: 450px;
}

.info-area {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0;
    padding-left: 20px;
    /* border: 1px solid red; */
}

.info-area .container-info {
    align-items: flex-start;
    width: 100%;
    height: 73%;
   /*  border: 1px solid rgb(157, 255, 0); */
    padding: 0;
}
.info-area .container-info h1 {
    font-size: 3rem;
    text-align: left;
    line-height: 35px;
}

.info-area .container-info p {
    padding-bottom: 20px;
    text-align: left;
    white-space: normal;
    font-size: 1.5rem;
}

.info-area .container-info .info__button {
    width: 26%;
    height: 40px;
    font-size: 1.4rem;
}

.info-area .container-info .info__button:hover {
    color: hsl(257, 46%, 35%);
    background-color: rgba(236, 234, 234, 0.993);
    cursor: pointer;
}

.footer_container {
    bottom: 30px;
    /* border: 1px solid red; */
    justify-content: flex-end;
    height: auto;
    margin-top: 0;
}

.footer_container a {
    padding: 0 10px;
}

.cite {
    color: #fff;
    font-size: 1rem;
    padding: 10px;
}

.cite a {
    color: rgb(255, 225, 53);
    text-decoration: none;
}

.cite a:hover {
    text-decoration: overline;
}