  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(257, 40%, 49%);
    min-width: 375px;
}

.header {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 100px;
}

.header img {
    width: 100px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 400px;
    background-image: url(/assets/bg-mobile.svg);
    background-size: 100% 350px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.main img {
    width: 300px;
}

.info-area {
    width: 100%;
    height: auto;
    padding: 0 30px;
}

.info-area .container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.info-area .container-info h1 {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.info-area .container-info p {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    line-height: 23px;
    white-space: nowrap;
}

.info-area .container-info .info__button {
    width: 70%;
    padding: 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    outline: none;
    border: none;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    color: hsl(257, 40%, 49%);
}

.info-area .container-info .info__button:hover {
    color: hsl(257, 46%, 35%);
    background-color: rgba(236, 234, 234, 0.993);
    cursor: pointer;
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
    width: 100%;
    height: 100px;
}

.footer_container a {
    padding: 0 20px;
}

.footer_container a img {
    width: 30px;
    height: 30px;
}

.cite {
    color: #fff;
    font-size: 1rem;
}

.cite a {
    color: rgb(255, 225, 53);
    text-decoration: none;
}
